@import url(/src/css/styles.css);


.hero {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #ccc;
    background-image: url(/public/img/rockerito3.jpg) ;
    background-size: cover;
    min-height: 30vh;
}

.hero-over{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-over h2{
    font-size: 1rem;
}
.hero-over a {
    background-color: var(--primary-hover);
    border: 1px solid var(--primary-hover) ;
    text-decoration: none;
    color: var(--text-main);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.2rem;
}
